<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/contact.css">
</head>

<body>
    <!-- navbar added  -->
    <div id="contactUs_navbar"></div>
    <!-- next page contant  -->
    <div id="contactUs_background">
        <img src="/contact us banner.jpg" alt="" srcset="">
    </div>
    <div id="inputBox_contactus">
        <div class="contactUs_form">
                <h6>Say Something!</h6>
            <form action="/contact" method="post">
                <input type="text" name="username" placeholder="Enter your name">
                <input type="email" name="email" placeholder="Enter your email">
                <input type="text" name="phone_no" placeholder="Enter your number">
                <textarea name="message" rows="10" placeholder="Enter your message.."></textarea>
                <input type="submit" id="submit_btn">
            </form>
        </div>
    </div>
    <div id="footer">

    </div>
    <script src="/contactUs.js"></script>
</body>

</html>