<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/footer.css">
</head>

<body>
    <div id="footer_part">
        <div id="link1">
            <h4>Contact Us</h4>
            <ul>
                <li><a href=""><i class="fa-solid fa-phone"></i> +91-8993661</a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i> hell.support@gmail.com</a></li>
                <li><a href=""><i class="fa-solid fa-location-dot"></i>Ahmedabad,Gujarat-24</a></li>
            </ul>
        </div>
        <div id="link2">
            <h4>Follow Us</h4>
            <ul>
                <li><a href=""><i class="fa-brands fa-instagram"></i>readze@offical</a></li>
                <li><a href=""><i class="fa-brands fa-facebook"></i>readze@offical</a></li>
                <li><a href=""><i class="fa-brands fa-twitter"></i>readze@offical</a></li>
            </ul>
        </div>
    </div>
</body>

</html>