<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .list{
            margin-left: 275px;
        }
        .manageAdmin a, .manageAdmin i{
            background-color: black;
            color: antiquewhite;
        }
    </style>
</head>
<body>
    <div id="adminNavbar"></div>
    <div class="list">
            <h2>Admin List</h2>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody id="admin-table-body">
                    <!-- rows will be add dynamically -->
                </tbody>
            </table>
        </div>
    <script src="/admin_script.js"></script>
    <script>
       
    </script>
</body>
</html>